PORT=3000
STRIPE_SECRET_KEY=sk_test_XXXXXXXXXXXXXXXXXXXXXXXX
STRIPE_WEBHOOK_SECRET=whsec_XXXXXXXXXXXXXXXXXXXXXXXX
CLIENT_URL=https://TU-APP.vercel.app
MONGO_URI=mongodb+srv://usuario:password@cluster.mongodb.net/stripe-app
JWT_SECRET=cambia_esto_por_un_string_largo_y_seguro_aleatorio
